/.venv/
**/.idea/
**/.venv/
.idea/
.venv/
**/target/
/.vscode/
**/__pycache__/
**/.DS_Store/
.DS_Store
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/
**/.ipynb_checkpoints/

/spring-cloud-alibaba-kubesphere/spring-cloud-alibaba-kubesphere.iml
